@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>公司名</th>
                <th>姓名</th>                
            </tr>
        </thead>     
        <tbody>
            @{
                foreach (var item in Model.Customers)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Company</td>
                        <td>@($"{item.First_Name}.{item.Last_Name}")</td>
                    </tr>
                }
            }
        </tbody>
       
    </table>




    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
