################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/node_modules
/.vs

.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.history
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Unit test
coverage/

# Build output
dist/
dist-test/

backups/

package-lock.json
/dashboard/.vscode

## 镜像压缩包
/deployment/*.tar
/deployment/data/*

#vscode
.vscode
.vscode/*


#vs 文件
.vs
.vs/*

/obj/
*/obj/*

/bin/
*/bin/*
/examples/DapperOnNorthwind.Web/obj
/src/Sampke.Dapper.Abstract/obj
/src/Sampke.Dapper.Mysql/bin/Debug/net5.0
/src/Sampke.Dapper.Test/bin/Debug/net6.0
/src/Sampke.Dapper.Test/obj/Debug/net6.0
/src/Sampke.Dapper.SqlServer/bin/Debug/net5.0
/src/Sampke.Dapper.SqlServer/obj
/src/Sampke.Dapper.Postgresql/bin/Debug/net5.0
/src/Sampke.Dapper.Postgresql/obj
/src/Sampke.Dapper.Oracle/bin/Debug/net5.0
/src/Sampke.Dapper.Oracle/obj
/src/Sampke.Dapper.Abstract/bin/Debug/net5.0
/src/Sampke.Dapper.Mysql/obj/Debug/net5.0
/src/Sampke.Dapper.Mysql/obj
/examples/DapperOnNorthwind.Web/bin/Debug/net5.0
/src/Sampke.Dapper.Test/obj
